/*GOODLE-FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');





/* HEADING*/
head{
  height:10rem;
}

/* BODY WORK*/

body{
  height: 100%;
  width: 100%;
  
  font-family: 'Playfair Display', serif;
 
  background-color: #bad9d7 ;

}
/* Card Button */
/* HEADING*/
.text{
  margin:10rem;
  padding:1em;
  font-family: 'Roboto', sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 1vh;
}

.text h1{
  color:#bad9d7 ;
  font-size: 110px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 10px;   
  text-shadow: 3px 3px 6px #93b8b7, -3px -3px 6px #d6faf7;
}


/* CARDS*/



/* SIDE NAV BAR*/

ul{
  list-style: none;
  margin: 0;
  padding:0;
}

a{
  text-decoration: none;
  color: rgb(252, 252, 200);
  
}



button{
  cursor: pointer;
}
button,input{
  border: none;
  outline: none;
}



/* SIDE NAV BAR*/
.sidebar{
  position: fixed;
  width: 80px;
  height: 80vh;
  color: lightskyblue;
  z-index: 10;

}


/* SIDE NAV BAR*/
.nav_menu{
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 20rem;
}


.menu{
  display: flex;
}

.nav_list {
  display:flex;
  flex-direction: row-reverse;
  margin: 12px  0 ;
}

.nav_link{
  height:90%;
  line-height: 100px;
  padding:0 1rem;
  color:azure;
  font-size: 2.5rem;
  position: relative;
  transition:1s;
}


/* ACTIVE-LINK*/

.nav_link:hover{
  color: rgb(135, 137, 244);
}






button,
input, {
font-family: 'Playfair Display', serif;

}

.profile{
  display: flex;
margin-top: -110vh;
margin-left: 60vw; 
  height: 250px;
  width: 200px;
  border-radius:100px 0px 100px  ;
  border: rgb(250, 248, 247) solid 3px;
  box-shadow:  41px 41px 67px #9eb8b7,
             -41px -41px 67px #d6faf7;
}

.glass-wrapper{
 margin-top: 15vh;
 margin-left: 20vh;
}

.decor-1{
  height: 44vh;
  width: 45vh;
  border-radius: 50%;
  background: linear-gradient(145deg, #a7c3c2, #c7e8e6);
  box-shadow:  41px 41px 67px #9eb8b7,
               -41px -41px 67px #d6faf7;
  

}

.decor-2{
  height: 34vh;
  width: 35vh;
  margin-left: 33vw;
  border-radius: 50%;
  background: linear-gradient(145deg, #a7c3c2, #c7e8e6);
  box-shadow:  41px 41px 67px #9eb8b7,
               -41px -41px 67px #d6faf7;
}

.decor-3{
  height: 34vh;
  width: 35vh;
  border-radius: 50%;
background: linear-gradient(145deg, #a7c3c2, #c7e8e6);
box-shadow:  41px 41px 67px #9eb8b7,
             -41px -41px 67px #d6faf7;
}

#p1{
  padding: 60px;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-family: 'Quicksand', sans-serif;
z-index: 999;
}

#p2{
  padding: 60px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-family: 'Quicksand', sans-serif;

}#p3{
  padding: 60px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
font-size: 1rem;
font-family: 'Quicksand', sans-serif;

}


/*========== BREAKPOINTS ==========*/
@media screen and (max-width:700px){
    
body{

}
  .text{
  font-weight: 1rem;}

  .profile{
    display: flex;
    margin-top: 12vh;
  margin-left: 40vw; 
    height: 250px;
    width: 200px;
    border-radius:150px ;
    border: rgb(250, 248, 247) solid 3px;
    box-shadow:  41px 41px 67px #9eb8b7,
               -41px -41px 67px #d6faf7;
               z-index: 8;
  }


}
/* For Small Devices */
@media screen and (max-width: 350px) {
  
}