/*GOODLE-FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');





/* HEADING*/

head{
  margin: 3vh;

}

.text{
  margin:5rem;
  padding:1em;
  font-family: 'Roboto', sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 1vh;
}

.text h1{
  color:#c0c0c0 ;
  font-size: 110px;
  font-weight: 800;
  text-transform: ;
  letter-spacing: 10px;   
  text-shadow: 3px 3px 6px #767878, -3px -3px 6px #dcdcdc;
}

/* BODY WORK*/



body{
  display: flex;
  background-color: #c0c0c0;
  
}

/* SIDE NAV BAR*/

ul{
  list-style: none;
  padding:0;
}

a{
  text-decoration: none;
  color: rgb(252, 252, 200);
  
}



button{
  cursor: pointer;
}
button,input{
  border: none;
  outline: none;
}



/* SIDE NAV BAR*/
.sidebar{
  position: fixed;
  width: 80px;
  height: 80vh;
  color: rgb(251, 239, 239);
  z-index: 10;

}


/* SIDE NAV BAR*/
.nav_menu{
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 90vh;
  margin-left: -30vw;
}


.menu{
  display: flex;
}

.nav_list {
  display:flex;
  flex-direction: row-reverse;
}

.nav_link{
  height:30%;
  line-height: 100px;
  padding:3rem;
  color: rgb(252, 252, 200);
  font-size: 2rem;
  position: relative;
  transition:1.5s;
}


/* ACTIVE-LINK*/

.nav_link.active-link, .nav_link:hover{
  color: yellow;
}

.glass-wrapper{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 justify-content: space-around;
}

.decor-1{
background-color: #ca9494;
border: solid 3px white;
height:300px;
width: 300px;
margin-top: 32vh;
margin-left:-20vw;
border-radius: 150px 1px 150px ;

}

.decor-2{
  background-color: #a3a9c8;
  border: solid 3px white;
  height:300px;
  width: 300px;
  margin-top: 32vh;
  margin-left:1vw;

  border-radius: 150px 0px 150px ;
}

.decor-3{

  background-color: #c8bda3;
  border: solid 3px white;
  height:300px;
  width: 300px;
  border-radius: 150px 0px 150px ;
  margin-top: 32vh;
margin-left: 1vw;
}

#p1{
  padding: 60px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

#p2{
  padding: 60px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}#p3{
  padding: 60px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.profile{
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 200px;
  margin-top: 6vh;
  margin-left: 7vw;
  border-radius:100px 0px 100px  ;
  border: saddlebrown solid 3px;
}