
/*GOODLE-FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');



/* BODY WORK*/

body{
  height: 100%;
  width: 100%;
  
  font-family: 'Playfair Display', serif;
 
  background-color: #bad9d7 ;

}
/* Card Button */
/* HEADING*/
.text{
  margin:0.3rem;
  padding:1em;
  font-family: 'Roboto', sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 1rem;
}

.text h1{
  color:#bad9d7 ;
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;   
  text-shadow: 3px 3px 6px #93b8b7, -3px -3px 6px #d6faf7;
}


/* CARDS*/




/* SIDE NAV BAR*/

ul{
  list-style: none;
  margin: 0;
  padding:0;
}

a{
  text-decoration: none;
  color: rgb(252, 252, 200);
  
}



button{
  cursor: pointer;
}
button,input{
  border: none;
  outline: none;
}



/* SIDE NAV BAR*/
.sidebar{
  position: fixed;
  width: 80px;
  height: 80vh;
  color: lightskyblue;
  z-index: 10;

}


/* SIDE NAV BAR*/
.nav_menu{
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 20rem;
}


.menu{
  display: flex;
}

.nav_list {
  display:flex;
  flex-direction: row-reverse;
  margin: 12px  0 ;
}

.nav_link{
  /* height:50%; */
  line-height: 100px;
  padding:0 1rem;
  color:azure;
  font-size: 2.5rem;
  position: relative;
  transition:1s;
}


/* ACTIVE-LINK*/
 .nav_link:hover{
  color: rgb(135, 137, 244);
}




button,
input {
font-family: 'Playfair Display', serif;

}



.wrapper{
  margin: 10%;
  padding: 0rem;
  flex-wrap: wrap;
  display: flex;
  background-color: #bad9d7;

}

.demo-div{
min-width: 5rem;

margin: 1rem;
border-radius: 1.25px;
justify-content: center;
align-items: center;
flex-grow: 1;

border-radius: 50px;
background: #bad9d7;
box-shadow:  18px 18px 36px #93b8b7,
             -18px -18px 36px #d6faf7;
text-align: center;

line-height: 90px;

color: rgb(252, 252, 200);
font-size: 2rem;
position: relative;
transition:1.5s;
}

/* DECOR-SHAPES*/


.container {
  display: flex;
justify-content: space-around;
  align-items:center;
  background: #bad9d7;
  position: relative;
  z-index: -5;
}
.neumorphism-1 {
  height: 130px;
  width: 130px;
  background: #bad9d7;
  border-radius: 7px;
  box-shadow: -10px -10px 10px #bfe2e0, 7px 7px 10px #93b8b7;
  transform: rotate(-45deg);
position: relative;

}

.neumorphism-1::after{
content:"" ;
height: 130px;
width: 130px;
border-radius: 50%;
background: #bad9d9;
top: -50px;
left: -3px;
box-shadow: -0px -13px 10px #bfe2e0, 0px 0px 0px #93b8b7;
position: absolute;
}


.neumorphism-1::before{
content:"" ;
height: 130px;
width: 130px;
border-radius: 50%;
background: #bad9d9;
top:5px;
right: -58px;
box-shadow: -10px 10px 60px #bad9d9, 6px -10px 20px #93b8b7;
position: absolute;
}

.neumorphism-2 {
height: 100px;
width: 100px;
margin: 0px;
padding:30px;
background: #bad9d7;
border-radius: 15px;
box-shadow: inset -3px -3px 10px #ffffff73, 
inset 13px 13px 16px #93b8b7;
position: relative;
}

.neumorphism-3 {
  margin: 20px;
padding:30px;
display: flex;
justify-content: center;
align-items: center;
height: 100px;
width: 100px;
background: #bad9d7;
border-radius: 50%;
box-shadow: -10px -10px 10px #bfe2e0, 7px 7px 10px #93b8b7;
position: relative;
}

.neumorphism-3::after {
content: "";
position: absolute;
height: 80%;
width: 80%;
background-color: #bad9d7;
border-radius: 50%;
box-shadow: inset -3px -3px 10px #ffffff73, 
inset 13px 13px 16px #93b8b7;
}






      
/* PROFILE PICTURE*/


/*========== RESPONSIVE TYPOGRAPHY==========*/
@media screen and (max-width:700px){
    
}

/*========== BREAKPOINTS ==========*/


body{

  margin-top: 20%;
}
  .text{
  font-weight: 1rem;}

  .demo-div{
    min-width: 8rem;
    
    margin: 5rem;
    border-radius: 1.25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    
    border-radius: 50px;
    background: #bad9d7;
    box-shadow:  18px 18px 36px #93b8b7,
                 -18px -18px 36px #d6faf7;
    text-align: center;
    
    line-height: 90px;
    
    color: rgb(252, 252, 200);
    font-size: 2rem;
    position: relative;
    transition:1.5s;
    }

    /* SIDE NAV BAR*/
ul{
  align-items: flex-end;
}
}
/* For Small Devices */
@media screen and (max-width: 350px) {
  
}

